  .container {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    padding: 0 300px; /* Cách hai bên 300px */
    box-sizing: border-box; /* Đảm bảo padding không làm vượt ra ngoài */
    max-width: 100%; /* Đảm bảo không bể ảnh khi có padding */
  }
  
  .container img {
    max-width: 100%; /* Giới hạn chiều rộng của ảnh */
    height: auto; /* Đảm bảo tỷ lệ khung hình của ảnh được giữ nguyên */
  }

  .sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000; /* Đảm bảo header nằm trên các phần tử khác */
    background-color: #000; /* Để header có nền màu khi cuộn */
  }  

  .bg-cover {
    background-size: cover;
    background-position: center;
  }
  
  button:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }
  
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

/* Cập nhật class contact-icon để thêm hiệu ứng */
.contact-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Hiệu ứng hover khi di chuột vào */
.contact-icon:hover {
  transform: scale(1.1) /* Phóng to icon khi hover */;
  animation: shake 0.5s ease-in-out; /* Hiệu ứng rung lắc */
}

